body {
  font-family: "inter", "Arial", serif;
  margin: 0;
  padding: 0;
}

body * {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: none;
  color: inherit;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}


/* Utils */

.container {
  padding: 0 100px;
}

.pink-bg {
  background: #E0BFBF;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}


/* Components */

.title {
  color: #231F1F;
}

.text {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
}

.action {
  line-height: 1.2;
  font-size: 14px;
  padding: 10px 20px;
  max-width: 240px;
  display: block;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  transition: .3s;
}


/* Header */

.header--main {
  flex-direction: column;
}

.header--name {
  font-size: 18px;
  color: #EE486D;
  line-height: 1.375;
  font-weight: 700;
  margin: 17px;
  text-align: center;
}

.header--info-container {
  padding: 0 15px 10px;
}

.header--title {
  font-size: 36px;
  text-align: center;
}

.header--subtitle {
  margin-top: 20px;
  text-align: center;
}

.header--content {
  margin-top: 20px;
  text-align: center;
}

.header--action {
  color: #E5E5E5;;
  background: #EE486D;
  margin: 20px auto 0;
}

.header--action:hover {
  background: #ef2753;
  transition: .3s;
}

.header--note {
  margin-top: 35px;
  text-align: center;
  font-weight: 700;
}


/* Introduction */

.introduction--container {
  flex-direction: column;
}

.introduction--content {
  padding: 0 15px 10px;
}

.introduction--title {
  font-size: 36px;
  text-align: center;
}

.introduction--text {
  margin-top: 35px;
  text-align: center;
}

.introduction--text p {
  margin-top: 15px;
}

@media screen and (min-width: 576px)  {
  .header--info-container {
    padding: 0 20px 10px;
  }
}

@media screen and (min-width: 768px)  {

  .header--title {
    font-size: 48px;
    text-align: left;
  }

  .header--content {
    margin-top: 30px;
    text-align: left;
  }

  .header--action {
    margin: 20px auto 0;
  }

  .header--note {
    margin-top: 20px;
  }


  /* Introduction */

  .introduction--title {
    font-size: 48px;
  }
}

@media screen and (min-width: 992px)  {
  .header--main {
    flex-direction: row;
  }

  .header--name {
    align-self: flex-start;
  }

  .header--info-container {
    padding: 0 60px 35px;
    flex: 1;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }

  .header--info {
    flex: 8;
  }

  .header--photo {
    flex: 7;
  }

  /* Introduction */

  .introduction--container {
    flex-direction: row;
  }

  .header--subtitle {
    text-align: left;
  }

  .introduction--content {
    padding: 0 40px 0 70px;
    flex: 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .introduction--photo {
    flex: 7;
  }

  .introduction--title {
    text-align: left;
  }

  .introduction--text {
    margin-top: 65px;
    text-align: left;
  }

  .introduction--text p {
    margin-top: 25px;
  }
}

@media screen and (min-width: 1200px)  {
  .header--info-container {
    margin-top: 100px;
  }
}

@media screen and (min-width: 1300px)  {
  .text {
    font-size: 24px;
  }

  .action {
    font-size: 24px;
    max-width: 310px;
  }

  /* Header */

  .header--name {
    font-size: 24px;
  }

  .header--info-container {
    padding: 0 90px 35px;
    display: block;
    flex: unset;
    margin-top: 0;
  }

  .header--title {
    font-size: 64px;
  }

  .header--content {
    margin-top: 55px;
    max-width: 545px;
  }

  .header--action {
    margin: 40px auto 0;
  }

  .header--note {
    margin-top: 35px;
  }


  /* Introduction */

  .introduction--content {
    /*padding: 0 40px 0 70px;*/
  }

  .introduction--title {
    font-size: 64px;
    text-align: center;
  }

  .introduction--text {
    margin-top: 125px;
  }
}

@media screen and (min-width: 1600px) {
  .header--info-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 100px;
  }
}